{
  "urls": [

      "-----------------------------------",

      "https://www.aflo.com/ja/package/40100138",
    "https://www.aflo.com/ja/package/40100186",
    "https://www.aflo.com/ja/package/40100217",
    "https://www.aflo.com/ja/package/40100220",
    "https://www.aflo.com/ja/package/40100317",
    "https://www.aflo.com/ja/package/40100498",
    "https://www.aflo.com/ja/package/40100500",
    "https://www.aflo.com/ja/package/40101372",
    "https://www.aflo.com/ja/package/40205712",
    "https://www.aflo.com/ja/package/40205716",
    "https://www.aflo.com/ja/package/40205767",
    "https://www.aflo.com/ja/package/40205879",
    "https://www.aflo.com/ja/package/40205885",
    "https://www.aflo.com/ja/package/40205887",
    "https://www.aflo.com/ja/package/40207595",
    "https://www.aflo.com/ja/package/40207814",
    "https://www.aflo.com/ja/package/40209635",
    "https://www.aflo.com/ja/package/40209636",
    "https://www.aflo.com/ja/package/40209872",
    "https://www.aflo.com/ja/package/40210536",
    "https://www.aflo.com/ja/package/40210539",
    "https://www.aflo.com/ja/package/40210556",
    "https://www.aflo.com/ja/package/40210646",
    "https://www.aflo.com/ja/package/40211258",
    "https://www.aflo.com/ja/package/40211755",
    "https://www.aflo.com/ja/package/40211757",
    "https://www.aflo.com/ja/package/40211759",
    "https://www.aflo.com/ja/package/40212036",
    "https://www.aflo.com/ja/package/40212336",
    "https://www.aflo.com/ja/package/40216597",
    "https://www.aflo.com/ja/package/40216598",
    "https://www.aflo.com/ja/package/40216637",
    "https://www.aflo.com/ja/package/40217165",
    "https://www.aflo.com/ja/package/40217166",
    "https://www.aflo.com/ja/package/40217167",
    "https://www.aflo.com/ja/package/40217916",
    "https://www.aflo.com/ja/package/40219416",
    "https://www.aflo.com/ja/package/40219724",
    "https://www.aflo.com/ja/package/40220862",
    "https://www.aflo.com/ja/package/40221101",
    "https://www.aflo.com/ja/package/40221128",
    "https://www.aflo.com/ja/package/40221296",
    "https://www.aflo.com/ja/package/40221298",
    "https://www.aflo.com/ja/package/40221534",
    "https://www.aflo.com/ja/package/40221865",
    "https://www.aflo.com/ja/package/40221866",
    "https://www.aflo.com/ja/package/40222115",
    "https://www.aflo.com/ja/package/40222479",
    "https://www.aflo.com/ja/package/40222861",
    "https://www.aflo.com/ja/package/40222894",
    "https://www.aflo.com/ja/package/40222895",
    "https://www.aflo.com/ja/package/40222896",
    "https://www.aflo.com/ja/package/40222952",
    "https://www.aflo.com/ja/package/40223455",
    "https://www.aflo.com/ja/package/40223490",
    "https://www.aflo.com/ja/package/40223823",
    "https://www.aflo.com/ja/package/40223824",
    "https://www.aflo.com/ja/package/40223825",
    "https://www.aflo.com/ja/package/40223898",
    "https://www.aflo.com/ja/package/40223904",
    "https://www.aflo.com/ja/package/40223905",
    "https://www.aflo.com/ja/package/40223906",
    "https://www.aflo.com/ja/package/40224312",
    "https://www.aflo.com/ja/package/40224313",
    "https://www.aflo.com/ja/package/40225032",
    "https://www.aflo.com/ja/package/40225055",
    "https://www.aflo.com/ja/package/40225056",
    "https://www.aflo.com/ja/package/40225057",
    "https://www.aflo.com/ja/package/40225061",
    "https://www.aflo.com/ja/package/40225130",
    "https://www.aflo.com/ja/package/40225131",
    "https://www.aflo.com/ja/package/40225149",
    "https://www.aflo.com/ja/package/40225234",
    "https://www.aflo.com/ja/package/40225604",
    "https://www.aflo.com/ja/package/40225854",
    "https://www.aflo.com/ja/package/40226400",
    "https://www.aflo.com/ja/package/40226401",
    "https://www.aflo.com/ja/package/40226403",
    "https://www.aflo.com/ja/package/40226480",
    "https://www.aflo.com/ja/package/40226696",
    "https://www.aflo.com/ja/package/40226728",
    "https://www.aflo.com/ja/package/40226759",
    "https://www.aflo.com/ja/package/40226796",
    "https://www.aflo.com/ja/package/40227121",
    "https://www.aflo.com/ja/package/40227255",
    "https://www.aflo.com/ja/package/40227318",
    "https://www.aflo.com/ja/package/40227319",
    "https://www.aflo.com/ja/package/40227320",
    "https://www.aflo.com/ja/package/40227596",
    "https://www.aflo.com/ja/package/40227673",
    "https://www.aflo.com/ja/package/40227757",
    "https://www.aflo.com/ja/package/40227941",
    "https://www.aflo.com/ja/package/40228144",
    "https://www.aflo.com/ja/package/40228181",
    "https://www.aflo.com/ja/package/40228182",
    "https://www.aflo.com/ja/package/40228203",
    "https://www.aflo.com/ja/package/40228204",
    "https://www.aflo.com/ja/package/40228205",
    "https://www.aflo.com/ja/package/40228206",
    "https://www.aflo.com/ja/package/40228396",
    "https://www.aflo.com/ja/package/40228618",
    "https://www.aflo.com/ja/package/40228619",
    "https://www.aflo.com/ja/package/40228623",
    "https://www.aflo.com/ja/package/40228624",
    "https://www.aflo.com/ja/package/40228625",
    "https://www.aflo.com/ja/package/40228891",
    "https://www.aflo.com/ja/package/40228892",
    "https://www.aflo.com/ja/package/40228893",
    "https://www.aflo.com/ja/package/40228894",
    "https://www.aflo.com/ja/package/40228895",
    "https://www.aflo.com/ja/package/40228896",
    "https://www.aflo.com/ja/package/40228897",
    "https://www.aflo.com/ja/package/40228898",
    "https://www.aflo.com/ja/package/40228899",
    "https://www.aflo.com/ja/package/40230204",
    "https://www.aflo.com/ja/package/40230224",
    "https://www.aflo.com/ja/package/40230225",
    "https://www.aflo.com/ja/package/40230227",
    "https://www.aflo.com/ja/package/40230229",
    "https://www.aflo.com/ja/package/40230259",
    "https://www.aflo.com/ja/package/40230261",
    "https://www.aflo.com/ja/package/40230269",
    "https://www.aflo.com/ja/package/40230270",
    "https://www.aflo.com/ja/package/40230272",
    "https://www.aflo.com/ja/package/40230273",
    "https://www.aflo.com/ja/package/40230274",
    "https://www.aflo.com/ja/package/40230275",
    "https://www.aflo.com/ja/package/40230276",
    "https://www.aflo.com/ja/package/40231057",
    "https://www.aflo.com/ja/package/40231058",
    "https://www.aflo.com/ja/package/40231059",
    "https://www.aflo.com/ja/package/40231060",
    "https://www.aflo.com/ja/package/40231062",
    "https://www.aflo.com/ja/package/40231109",
    "https://www.aflo.com/ja/package/40231110",
    "https://www.aflo.com/ja/package/40231111",
    "https://www.aflo.com/ja/package/40231112",
    "https://www.aflo.com/ja/package/40231113",
    "https://www.aflo.com/ja/package/40231114",
    "https://www.aflo.com/ja/package/40231116",
    "https://www.aflo.com/ja/package/40231136",
    "https://www.aflo.com/ja/package/40231149",
    "https://www.aflo.com/ja/package/40231150",
    "https://www.aflo.com/ja/package/40231151",
    "https://www.aflo.com/ja/package/40231152",
    "https://www.aflo.com/ja/package/40231153",
    "https://www.aflo.com/ja/package/40231627",
    "https://www.aflo.com/ja/package/40231628",
    "https://www.aflo.com/ja/package/40231644",
    "https://www.aflo.com/ja/package/40231646",
    "https://www.aflo.com/ja/package/40231650",
    "https://www.aflo.com/ja/package/40231653",
    "https://www.aflo.com/ja/package/40231727",
    "https://www.aflo.com/ja/package/40231728",
    "https://www.aflo.com/ja/package/40232219",
    "https://www.aflo.com/ja/package/40232403",
    "https://www.aflo.com/ja/package/40232407",
    "https://www.aflo.com/ja/package/40232917",
    "https://www.aflo.com/ja/package/40233608",
    "https://www.aflo.com/ja/package/40233614",
    "https://www.aflo.com/ja/package/40233616",
    "https://www.aflo.com/ja/package/40233621",
    "https://www.aflo.com/ja/package/40233633",
    "https://www.aflo.com/ja/package/40233648",
    "https://www.aflo.com/ja/package/40233649",
    "https://www.aflo.com/ja/package/40233650",
    "https://www.aflo.com/ja/package/40235624",
    "https://www.aflo.com/ja/package/40238344",
    "https://www.aflo.com/ja/package/40238353",
    "https://www.aflo.com/ja/package/40238395",
    "https://www.aflo.com/ja/package/40240013",
    "https://www.aflo.com/ja/package/40240068",
    "https://www.aflo.com/ja/package/40240069",
    "https://www.aflo.com/ja/package/40240070",
    "https://www.aflo.com/ja/package/40240071",
    "https://www.aflo.com/ja/package/40240118",
    "https://www.aflo.com/ja/package/40246736",
    "https://www.aflo.com/ja/package/40246737",
    "https://www.aflo.com/ja/package/40246738",
    "https://www.aflo.com/ja/package/40246739",
    "https://www.aflo.com/ja/package/40246741",
    "https://www.aflo.com/ja/package/40246742",
    "https://www.aflo.com/ja/package/40246743",
    "https://www.aflo.com/ja/package/40246744",
    "https://www.aflo.com/ja/package/40253542",
    "https://www.aflo.com/ja/package/40261164",
    "https://www.aflo.com/ja/package/40261165",
    "https://www.aflo.com/ja/package/40261311",
    "https://www.aflo.com/ja/package/40261321",
    "https://www.aflo.com/ja/package/40261322",
    "https://www.aflo.com/ja/package/40266419",
    "https://www.aflo.com/ja/package/40278512",
    "https://www.aflo.com/ja/package/40278513",
    "https://www.aflo.com/ja/package/40278514",
    "https://www.aflo.com/ja/package/40278515",
    "https://www.aflo.com/ja/package/40278516",
    "https://www.aflo.com/ja/package/40278517",
    "https://www.aflo.com/ja/package/40278518",
    "https://www.aflo.com/ja/package/40278519",
    "https://www.aflo.com/ja/package/40278520",
    "https://www.aflo.com/ja/package/40278521",
    "https://www.aflo.com/ja/package/40278522",
    "https://www.aflo.com/ja/package/40278523",
    "https://www.aflo.com/ja/package/40278524",
    "https://www.aflo.com/ja/package/40278525",
    "https://www.aflo.com/ja/package/40278526",
    "https://www.aflo.com/ja/package/40278527",
    "https://www.aflo.com/ja/package/40278528",
    "https://www.aflo.com/ja/package/40278529",
    "https://www.aflo.com/ja/package/40278530",
    "https://www.aflo.com/ja/package/40278531",
    "https://www.aflo.com/ja/package/40278532",
    "https://www.aflo.com/ja/package/40278533",
    "https://www.aflo.com/ja/package/40278534",


    "-----------------------------------",






    "https://www.aflo.com/ja/package/40211378",
    "https://www.aflo.com/ja/package/40219498",
    "https://www.aflo.com/ja/package/40231860",
    "https://www.aflo.com/ja/package/40239662",
    "https://www.aflo.com/ja/package/40239826",
    "https://www.aflo.com/ja/package/40243676",
    "https://www.aflo.com/ja/package/40248878",
    "https://www.aflo.com/ja/package/40253027",
    "https://www.aflo.com/ja/package/40257164",
    "https://www.aflo.com/ja/package/40257249",
    "https://www.aflo.com/ja/package/40262513",
    "https://www.aflo.com/ja/package/40262909",
    "https://www.aflo.com/ja/package/40266141",
    "https://www.aflo.com/ja/package/40274907",
    "https://www.aflo.com/ja/package/40276023",
    "https://www.aflo.com/ja/package/40281609",
    "https://www.aflo.com/ja/package/40281766",
    "https://www.aflo.com/ja/package/40287048",
    "https://www.aflo.com/ja/package/40287780",
    "https://www.aflo.com/ja/package/40296398",
    "https://www.aflo.com/ja/package/40296662",
    "https://www.aflo.com/ja/package/40297032",
    "https://www.aflo.com/ja/package/40297346",
    "https://www.aflo.com/ja/package/40302628",
    "https://www.aflo.com/ja/package/40302631",
    "https://www.aflo.com/ja/package/40302635",
    "https://www.aflo.com/ja/package/40302960",
    "https://www.aflo.com/ja/package/40317889",
    "https://www.aflo.com/ja/package/40319662",
    "https://www.aflo.com/ja/package/40319868",
    "https://www.aflo.com/ja/package/40321514",
    "https://www.aflo.com/ja/package/40323009",
    "https://www.aflo.com/ja/package/40323198",
    "https://www.aflo.com/ja/package/40323421",
    "https://www.aflo.com/ja/package/40323476",
    "https://www.aflo.com/ja/package/40100348",
    "https://www.aflo.com/ja/package/40201675",
    "https://www.aflo.com/ja/package/40204131",
    "https://www.aflo.com/ja/package/40210517",
    "https://www.aflo.com/ja/package/40210766",
    "https://www.aflo.com/ja/package/40216710",
    "https://www.aflo.com/ja/package/40216712",
    "https://www.aflo.com/ja/package/40219496",
    "https://www.aflo.com/ja/package/40228905",
    "https://www.aflo.com/ja/package/40231057",
    "https://www.aflo.com/ja/package/40235677",
    "https://www.aflo.com/ja/package/40247999",
    "https://www.aflo.com/ja/package/40248429",
    "https://www.aflo.com/ja/package/40250000",
    "https://www.aflo.com/ja/package/40250270",
    "https://www.aflo.com/ja/package/40250324",
    "https://www.aflo.com/ja/package/40256128",
    "https://www.aflo.com/ja/package/40261371",
    "https://www.aflo.com/ja/package/40269417",
    "https://www.aflo.com/ja/package/40273679",
    "https://www.aflo.com/ja/package/40280208",
    "https://www.aflo.com/ja/package/40280217",
    "https://www.aflo.com/ja/package/40287806",
    "https://www.aflo.com/ja/package/40293099",
    "https://www.aflo.com/ja/package/40293302",
    "https://www.aflo.com/ja/package/40296197",
    "https://www.aflo.com/ja/package/40296658",
    "https://www.aflo.com/ja/package/40297498",
    "https://www.aflo.com/ja/package/40297864",
    "https://www.aflo.com/ja/package/40300330",
    "https://www.aflo.com/ja/package/40303380",
    "https://www.aflo.com/ja/package/40306070",
    "https://www.aflo.com/ja/package/40317953",
    "https://www.aflo.com/ja/package/40318305",
    "https://www.aflo.com/ja/package/40319834",
    "https://www.aflo.com/ja/package/40320072",
    "https://www.aflo.com/ja/package/40322186",
    "https://www.aflo.com/ja/package/40200900",
    "https://www.aflo.com/ja/package/40201213",
    "https://www.aflo.com/ja/package/40203041",
    "https://www.aflo.com/ja/package/40203552",
    "https://www.aflo.com/ja/package/40205912",
    "https://www.aflo.com/ja/package/40206307",
    "https://www.aflo.com/ja/package/40216476",
    "https://www.aflo.com/ja/package/40221720",
    "https://www.aflo.com/ja/package/40230173",
    "https://www.aflo.com/ja/package/40235592",
    "https://www.aflo.com/ja/package/40240218",
    "https://www.aflo.com/ja/package/40240752",
    "https://www.aflo.com/ja/package/40243564",
    "https://www.aflo.com/ja/package/40243787",
    "https://www.aflo.com/ja/package/40246851",
    "https://www.aflo.com/ja/package/40248427",
    "https://www.aflo.com/ja/package/40250510",
    "https://www.aflo.com/ja/package/40263261",
    "https://www.aflo.com/ja/package/40264562",
    "https://www.aflo.com/ja/package/40268957",
    "https://www.aflo.com/ja/package/40269046",
    "https://www.aflo.com/ja/package/40274566",
    "https://www.aflo.com/ja/package/40276420",
    "https://www.aflo.com/ja/package/40280040",
    "https://www.aflo.com/ja/package/40284132",
    "https://www.aflo.com/ja/package/40297771",
    "https://www.aflo.com/ja/package/40312455",
    "https://www.aflo.com/ja/package/40313092",
    "https://www.aflo.com/ja/package/40319255",
    "http://google.com",
    "aaaaaaaaaaaaaaaaa",
    "https://se-project.co.jp/corp/software/",
    "http://www.aflo.com/s/Search/search",
    "http://www.aflo.com/sys/static/cat.asp?c=200761",
    "https://se-project.co.jp/corp/about_us/",
    "http://ozuma.sakura.ne.jp/httpstatus/500",
    "http://ozuma.sakura.ne.jp/httpstatus/404",
    "http://ozuma.sakura.ne.jp/httpstatus/301"
  ],
  "ids": [
    "fontSize",
    "num_hits"
  ],
  "classes": [
    "clearfix",
    "profile"
  ],
  "attrs": [
    {
      "id": "header_cont",
      "class": "clearfix"
    },
    {
      "id": "header_cont",
      "class": "header_cont"
    }
  ],
  "tags": [
    {
      "tag": "div",
      "attr": {
        "id": "header_cont",
        "class": "clearfix"
      }
    },
    {
      "tag": "span",
      "attr": {
        "id": "header_cont",
        "class": "clearfix"
      }
    }
  ],
  "export_format": "{url} - {id} - {word}",
  "export_format_comment": [
    "{url} - {id} - {word}",
    "{word} - {id} - {url}",
    "{word}",
    "{id} - {word}"
  ],
  "sleep_second": 1,
  "target_word": "点",
  "book1": {
    "title": "Python Developers",
    "year": 2006,
    "page": 650
  },
  "book2": {
    "title": "Python Developers",
    "year": 2006,
    "page": 650
  }
}